# PHPStan configuration for ZenPress: static analysis of plugin and snippets.
includes:
    - ../vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    level: 6
    excludePaths:
        analyseAndScan:
            - .config/*
            - vendor/*
            - node_modules/*
    ignoreErrors:
        # Ignore all errors about WooCommerce functions not found
        - '#Function is_woocommerce not found#'
        - '#Function is_cart not found#'
        - '#Function is_account_page not found#'
        - '#Function is_product not found#'
        - '#Function is_product_category not found#'
        - '#Function is_shop not found#'
        - '#Function is_checkout not found#'
