<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="../tests/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true">
    <php>
        <env name="ZENPRESS_INTEGRATION_TESTS" value="1"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory>../tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>